<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
  </head>
  <body>
    
    <div class="body">
        {{{body}}}
    </div>
    
    </body>
</html>