

<div class="container">
  <form method="get" action="/api/restaurants" class="form" enctype="multipart/form-data">

    <div class="field">
      <label for="page">Page:</label>
      <input type="text" id="page" name="page" />
    </div>

    <div class="field">
      <label for="perPage">Per Page:</label>
      <input type="text" id="perPage" name="perPage" />
    </div>

    <div class="field">
      <label for="borough">Borough:</label> 
      <input type="text" id="borough" name="borough" />
    </div>

    <button type="submit" name="submit" placeholder="Submit" > Submit </button>
  </form>
</div>