.container{
    margin: auto;
    width: 35vw;
    align-self: center;
    justify-content: center;
    display: flex;
    border: 2px solid black;
    padding: 20px;
    border-radius: 5px;
}

.form{
    display: flex;
    flex-direction: column;
    
}

.field{
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form label{
    font: 600;
    font-size: large;
}

.form input{
    height: 40px;
    margin: 4px;
    width: 200px;
    border-radius: 5px;
    font-size: large;
    margin-left: 20px;
    border: 2px solid black;
}

.form button{
    padding: 8px;
    width: 10vw;
    align-self: center;
    cursor: pointer;
    font-size: medium;
    margin-top: 10px;
    background-color: white;
    border: 2px solid black;
}